body {
    background: #d3d3d3;
}

.main {
    width: 80%;
    max-width: 1200px;
    background: #EEEEEE;
    margin: 80px auto;
    padding: 30px 50px;
}

.calendar {
    font-size: 0.8em;
}

.textInput, .multiSelect {
    font-size: 1em;
}

.numberInput {
    font-size: 0.8em;
}

#submit {
    font-size: 0.9em;
}

input, select {
    margin: 40px 10px;
}

#results {
    margin: auto;
    padding: 20px 0;
}

th, td {
    margin: 5px auto;
    width: 12%;
    text-align: center;
}

th {
    font-weight: bolder;
    font-size: 1.2em;
    padding-bottom: 15px;
    color: #999999;
}

td {
    padding-bottom: 10px;
}

footer {
    margin: 5px auto;
}

#searchTabs {
    margin: 0 auto;
}
