body {
    background: #d3d3d3;
}

.main {
    width: 1400px;
    background: #EEEEEE;
    margin: 100px auto;
    padding: 20px 0;
}

.input {
    margin: 50px auto;
    width: 80%;
    background: #EEEEEE;
}

input {
    margin: 75px 10px;
}

#results {
    width: 80%;
    border: solid #555555 1px;
    margin: 50px auto;
    padding: 20px 0;
}

th, td {
    margin: 2px auto;
    width: 12%;
    text-align: center;
}
