

/*
    Now here is when interesting things start to appear.

    We set up <body> styles with default font and nice gradient in the background.
    And yes, there is a lot of repetition there because of -prefixes but we don't
    want to leave anybody behind.
*/
body {
    font-family: arial, sans-serif;
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#0040FF), to(#0040FF));
    background: -webkit-radial-gradient(#0040FF, #0080D0);
    background:    -moz-radial-gradient(#0040FF, #0080D0);
    background:     -ms-radial-gradient(#0040FF, #0080D0);
    background:      -o-radial-gradient(#0040FF, #0080D0);
    background:         radial-gradient(#0040FF, #0080D0);
}

/*
    Now let's bring some text styles back ...
*/
b, strong { font-weight: bold }
i, em { font-style: italic }

/*
    ... and give links a nice look.
*/
a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}



/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
    position: relative;
    font-size: 30px;
    line-height: 1.2em;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}

h2 {
    font-size: 1.5em;
    margin: 1.5em auto 1em auto;
}

.step > div {
    display: inline-block;
    position: absolute;
}

pre {
    font-size: 0.7em;
    line-height: 1.1em;
}

.subtitle {
    font-size: 1.1em;
    padding-left: 2em;
    margin-top: -1em;
}

.fat {
    font-weight: bold;
}
/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.slide {
    display: block;

    width: 900px;
    height: 700px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: #555555;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    letter-spacing: -1px;
}

.fakeFrame {
    width: 900px;
    height: 700px;
    display: block;
}

img {
    position: absolute;
} 

ul {
    position: absolute;
    font-size: 0.8em;
    list-style: disc;
}

.slide q {
    display: block;
}

.slide q strong {
    white-space: nowrap;
}

.centerText {
    text-align: center;
}

#start {
    padding-top: 7.5em;
}

#start q{
    font-size: 3em;
    line-height: 1.2em;
} 

#start p {
    font-size: 2em;
    line-height: 1.2em;
}



#dblist {
    left: 38%;
    top: 32%;
}

#clientlist {
    left: 62%;
    top: 76%;
}

#dbimg {
    height: 25%;
    left: 15%;
    top: 25%;
}

#svgarrow {
    position: absolute;
    top: 50%;
    left: 32%;
}

#clientimg {
    height: 25%;
    top: 66%;
    left: 38%;
}

#problem img {
    max-height: 90%;
    margin-top: 4%;
    display: block;
    left: 25%;
}

#andre {
    height: 35%;
    border-radius: 45%;
    top: 45%;
    left: 20%;
}

#torkil {
    height: 35%;
    border-radius: 45%;
    top: 15%;
    left: 60%;
}

#elasticimg {
    height: 40%;
    left: 20%;
    top: 55%;
}

#mongoimg {
    width: 25%;
    top: 15%;
    left: 10%;
}

#hazelimg {
    width: 25%;
    left: 60%;
    top: 25%;
}

#hvaEr h2{
    color: #73b53e;
}


#hvaErList {
    left: 18%;
    top: 31%;
    line-height: 3.5em;
}

#clusterimg {
    position: absolute;
    top: 37%;
    left: 45%;
    -webkit-transform: scale(0.6,0.6);
}

#losningList {
    font-size: 1.8em;
    line-height: 3em;
    top: 20%;
    left: 20%;
}

.centerWrapper {
    font-size: 2.5em;
    top: 45%;
    left: 20%;
}

#delayed {
    opacity: 0;
    -webkit-transition: opacity 1s 1.5s;
    transition: opacity 1s 1.5s;
    margin: 0;
}

#eller.present #delayed {
    opacity: 1;
}

#esIssues {
    padding-left: 2em;
    padding-top: 1em;
}

#esIssues div {
    height: 10%;
    width: 35%;
}

#esIssues span {
    position: relative;
    top: -25%;
}

#esIssues img {
    height: 100%;
    position: relative;
}

#ytelse {
    top: 35%;
    left: 10%;
}

#kategori {
    top: 65%;
    left: 20%;
}

#nyTech {
    top: 45%;
    left: 60%;
}

#indeksering {
    padding-left: 2em;
}

.ordsky {
    font-size: 0.8em;
    margin: 0.05em 0.5em;
    line-height: 1em;
    float: right;
}

#ordsky-wrapper {
    width: 47%;
    left: 43%;
}

#felter {
    top: 32%;
    left: 25%;
    font-size: 1.1em;
}

#insert {
    top: 69%;
    left: 15%;
}

.insertType {
    display: inline-block;
    margin: 0 1.2em;
}

#try1 {
    padding-left: 2em;
}

#try1 > h2 > span{
    font-size: 0.6em;
}

#slow {
    opacity: 0;
}

#slow.active {
    opacity: 1;
    -webkit-transition: opacity 0.7s;
    transition: opacity 0.7s;
}

#slow > img {
    height: 70%;
    top: 25%;
    left: 55%;
    box-shadow: 3px 5px 6px rgba(0, 0, 250, .1);
}

#try2 {
    padding-left: 3em;
    padding-top: 3em;
}

#indekser {
    top: 36%;
    left: 26%;
}

#mill {
    top: 43%;
    left: 34%;
}

#routing {
    top: 49%;
    left: 42%;
}

#snail {
    opacity: 0;
}

#snail.active {
    opacity: 1;
}

#snailgif {
    top: 80%;
    left: 10%;
}

#snail.active #snailgif {
    left: 80%;
    -webkit-transition: left 15s;
    transition: left 15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

#seconds {
    top: 65%;
    left: 60%;
    font-size: 5em;
}

#final {
    padding-left: 2em;
}

#mapping {
    top: 20%;
    left: 20%;
}

#mermill {
    top: 28%;
    left: 28%;
}

#peraar {
    top: 36%;
    left: 36%;
}

#warmers {
    top: 44%;
    left: 44%;
}

#nyan {
    opacity: 0;
}

#nyan.active {
    opacity: 1;
}

#gatlingimg {
    opacity: 0;
    top: 69%;
    left: 15%;
}

#gatling {
    opacity: 0;
    top: 73%;
    left: 50%;
}

#nyan.active #gatling,  #nyan.active #gatlingimg {
    opacity: 1;
    -webkit-transition: opacity 0.5s 1.3s;
    transition: opacity 0.5s 1.3s;
}

#nyanimg {
    top: 56%;
    left: -144%;
}

#nyan.active #nyanimg {
    left: 200%;
    -webkit-transition: left 2s ;
    transition: left 2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

#konklusjon {
    padding-left: 2em;
}

#prorap {
    top: 25%;
    left: 15%;
}

#tekrap {
    top: 40%;
    left: 15%;
}

#tekstfil {
    top: 55%;
    left: 15%;
}

#demolink {
    top: 80%;
    left: 55%;
}


/*
    Sparer på dette i tilfelle 3d effekter...


#its-in-3d p {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style:    preserve-3d;
    -ms-transform-style:     preserve-3d;
    -o-transform-style:      preserve-3d;
    transform-style:         preserve-3d;
}

#its-in-3d span,
#its-in-3d b {
    display: inline-block;
    -webkit-transform: translateZ(40px);
    -moz-transform:    translateZ(40px);
    -ms-transform:     translateZ(40px);
    -o-transform:      translateZ(40px);
     transform:        translateZ(40px);

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}
*/

/*
    The last step is an overview.
    There is no content in it, so we make sure it's not visible because we want
    to be able to click on other steps.

*/
#overview { display: none }

/*
    We also make other steps visible and give them a pointer cursor using the
    `impress-on-` class.
*/
.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}


